In [12]:
import os
import pandas as pd
import numpy as np

In [13]:
os.getcwd()

&#39;d:\\PESU\\mini-project\\Datasets&#39;

In [14]:
df = pd.read_csv("cat_dataset.csv")
#print(df.count())
civicIssue = [1]*10723
#df["civic_issue"] = civicIssue
df.head()
#df.to_csv("cat_dataset.csv")

,description,category,civic_issue
0,Garbage behind the temple,Waste/Garbage,1
1,Air pollution,Air,1
2,Air pollution in hebbal,Air,1
3,Garbage is dumped near BES,Waste/Garbage,1
4,Leaf and garbage burning on Shakthi Ganapathi ...,Air,1

                                         description       category
0                          Garbage behind the temple  Waste/Garbage
1                                      Air pollution            Air
2                            Air pollution in hebbal            Air
3                         Garbage is dumped near BES  Waste/Garbage
4  Leaf and garbage burning on Shakthi Ganapathi ...            Air

In [11]:
df = pd.read_csv("cat_dataset.csv")
df.head()
df1 = df.iloc[:,2:]
df1.head()
df1.to_csv("cat_dataset.csv")