In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'D:\\PESU\\mini-project'

In [8]:
df = pd.read_csv("Datasets\cat_dataset.csv")
#print(df.count())
civicIssue = [1]*10723
df["civic_issue"] = civicIssue
df.head()
df.to_csv("Datasets\cat_dataset.csv")

                                         description       category
0                          Garbage behind the temple  Waste/Garbage
1                                      Air pollution            Air
2                            Air pollution in hebbal            Air
3                         Garbage is dumped near BES  Waste/Garbage
4  Leaf and garbage burning on Shakthi Ganapathi ...            Air